<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SrvValidarEntrada</servlet-name>
		<servlet-class>tulibroencasa.servlets.SrvValidarEntrada</servlet-class>
		<init-param>
			<param-name>fichero_propiedades</param-name>
			<param-value>C:\\Users\\gorka\\Documents\\GitHub\\cursoweb\\TuLibroEnCasa\\WebContent\\WEB-INF\\tulibroencasa.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvValidarEntrada</servlet-name>
		<url-pattern>/servlet/SrvValidarEntrada</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvRegistro</display-name>
		<servlet-name>SrvRegistro</servlet-name>
		<servlet-class>tulibroencasa.servlets.SrvRegistro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvRegistro</servlet-name>
		<url-pattern>/servlet/SrvRegistro</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvGuardarRegistro</display-name>
		<servlet-name>SrvGuardarRegistro</servlet-name>
		<servlet-class>tulibroencasa.servlets.SrvGuardarRegistro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvGuardarRegistro</servlet-name>
		<url-pattern>/servlet/SrvGuardarRegistro</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SrvBuscarLibros</display-name>
		<servlet-name>SrvBuscarLibros</servlet-name>
		<servlet-class>tulibroencasa.servlets.SrvBuscarLibros</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvBuscarLibros</servlet-name>
		<url-pattern>/servlet/SrvBuscarLibros</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>SrvMostrarLibros</display-name>
		<servlet-name>SrvMostrarLibros</servlet-name>
		<servlet-class>tulibroencasa.servlets.SrvMostrarLibros</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvMostrarLibros</servlet-name>
		<url-pattern>/servlet/SrvMostrarLibros</url-pattern>
	</servlet-mapping>
</web-app>